{% extends '_base.html' %}
{% load static %}
{% load custom_filter %}


{% block css %}
    <link rel="stylesheet" href="{% static 'style/home.css' %}">
{% endblock css %}
    

{% block title %}
Social Book
{% endblock title %}
    

{% block content %}
<div class="container">
    <div class="post-container">
        {% for post in posts %}
            <div class="cards">
                <div class="card-item card mt-5 mb-3">
                    <div>
                        <a class="nav-link" ><button type="button" data-bs-toggle="modal" data-bs-target="#carousel">
                            <img src="{{post.image.url}}" class="card-img-top" alt="...">
                          </button></a>
                       
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between ">
                            <h5 class="card-title  "><a href="{% url 'profile' post.user.username %}">@{{post.user.username}} </a>| {{post.title}}</h5>
                            <div class="d-flex justify-content-between ">
                                <form hx-post="{% url 'comment' %}">
                                    <input type="hidden" name="post_id" value="{{post.id}}">
                                    <input type="text" name="body" placeholder="comment">
                                    <button type="submit" class="btn btn-link "><i class="fa-regular fa-comment fa-xl"></i></i></button>
                                </form>
                                <form hx-post="{% url 'home' %}">
                                    <input type="hidden" name="post_id" value="{{post.id}}">
                                    {% if post.id in request_user_liked_post %}
                                        <button type="submit" class="btn btn-link "><i class="fa-solid fa-heart fa-xl " style="color: #f2075a;"></i></button>
                                    {% else %}
                                        <button type="submit" class="btn btn-link "><i class="fa-regular fa-heart fa-xl" style="color: #f2075a;"></i></button>
                                    {% endif %}
                                </form>
                            </div>
                            
                        </div>
                        <p class="card-text mt-3">{{post.description}}</p>
                        <p class="card-text"><small class="text-body-secondary">{{post.created}}</small></p>
                        <!-- <div id="comment">
                            <form action="">
                                <label for="">Comment</label><br>
                                <input type="text">
                            </form>
                        </div> -->
                        <div id="comment-section" class="border">
                            <h5>Comments</h5>
                                <p>{{comments|get_comments:post.id}}</p>
                        </div>
                    </div> 
                </div> 
            </div>
        {% endfor %}
    </div>
    
    <div class="suggestions mt-5">
        
        {% include 'core/partials/follow_suggestions.html' %}
        
    </div>
</div>


{% include 'core/partials/create_post.html' %}

{% include 'core/partials/carousel.html' %}


{% endblock content %}
    parccials