{% extends '_base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'style/home.css' %}">
{% endblock css %}
    

{% block title %}
Social Book
{% endblock title %}
    

{% block content %}
<div class="container">
    <div class="post-container">
        {% for post in posts %}
            <div class="cards">
                <div class="card-item card mt-5 mb-3">
                    <div>
                        <img src="{{post.image.url}}" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title d-flex justify-content-between"><a href="{% url 'profile' post.user.username %}">@{{post.user.username}} </a>| {{post.title}}</h5>
                            <form hx-post="{% url 'home' %}">
                                <input type="hidden" name="post_id" value="{{post.id}}">
                                {% if post.id in request_user_liked_posts %}
                                    <button type="submit" class="btn btn-link mt-2"><i class="fa-solid fa-heart fa-xl " style="color: #f2075a;"></i></button>
                                    
                                {% else %}
                                    <button hx-post="" type="button" class="btn btn-link mt-2"><i class="fa-regular fa-heart fa-xl" style="color: #f2075a;"></i></button>
                                {% endif %}
                            </form>
                        </div>
                        <p class="card-text mt-3">{{post.description}}</p>
                        <p class="card-text"><small class="text-body-secondary">{{post.created}}</small></p>
                        <div comment>
                            <form action="">
                                <label for="">Comment</label><br>
                                <input type="text">
                            </form>
                        </div>
                    </div> 
                </div> 
            </div>
        {% endfor %}
    </div>
    
    <div class="suggestions mt-5">
        <ol class="list-group list-group">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <img class="suggestion-img" src="{% static 'images/avatar.svg' %}" alt="">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">@username</div>
                    215k followers
                </div>
                <span class="badge bg-primary rounded-pill">Follow</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <img class="suggestion-img" src="{% static 'images/avatar.svg' %}" alt="">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">@username</div>
                    100 followers
                </div>
                <span class="badge bg-primary rounded-pill">Follow</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <img class="suggestion-img" src="{% static 'images/avatar.svg' %}" alt="">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">@username</div>
                    20 followers
                </div>
                <span class="badge bg-primary rounded-pill">Follow</span>
            </li>
        </ol>
    </div>
</div>


{% include 'core/create_post.html' %}



{% endblock content %}
    