{% extends '_base.html' %}
{% load static %}
{% load custom_filter %}


{% block css %}
    <link rel="stylesheet" href="{% static 'style/home.css' %}">
{% endblock css %}
    

{% block title %}
Social Book
{% endblock title %}
    

{% block content %}
<div class="container" >
    <div class="post-container">
        {% for post in posts %}
            <div class="cards">
                <div class="card-item card mt-5 mb-3">
                    <div>
                        
                        {% if request.user == post.user %}
                        <button class="btn btn-link dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis"></i></button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                                <button hx-delete="{% url 'delete-post' post.id %}" 
                                        hx-confirm="Are you sure you want to delete this post?"
                                        class="dropdown-item" >Delete post
                                </button>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'update-post' post.id %}">Update Post</a>
                            </li>
                        </ul>
                        {% endif %}
                        <a class="nav-link" >
                            <button type="button" data-bs-toggle="modal" data-bs-target="#carousel">
                                <img id="post_img" src="{{post.image.url}}" class="card-img-top " alt="...">
                            </button>
                        </a> 
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between ">
                            <h5 class="card-title  "><a href="{% url 'profile' post.user.username %}">@{{post.user.username}} </a>| <a href="{{ post.get_absolute_url }}">{{post.title}}</a></h5>
                            <div class="d-flex justify-content-between ">
                                <form id="like-form" hx-post="{% url 'home' %}">
                                    <input type="hidden" name="post_id" value="{{post.id}}">
                                    {% if post.id in request_user_liked_post %}
                                        <button id="unlike" type="submit" class="btn btn-link "><i class="fa-solid fa-heart fa-xl " style="color: #f2075a;"></i></button>
                                    {% else %}
                                        <button id="like" type="submit" class="btn btn-link "><i class="fa-regular fa-heart fa-xl" style="color: #f2075a;"></i></button>
                                    {% endif %}
                                </form>
                            </div>   
                        </div>

                        <p class="card-text mt-3">{{post.description}}</p>
                        <p class="card-text"><small class="text-body-secondary">{{post.created}}</small></p>

                        <hr>

                        <div id="comment-section "> 
                            <div class="d-flex justify-content-between">
                                <img id="profile_img" src="{{profile.image.url}}" alt="">
                                <form hx-post="{% url 'comment' %}" >
                                    {% csrf_token %}
                                    <input id="post_id" type="hidden" name="post_id" value="{{post.id}}">
                                    <input id="comment_input" class="comment_input" type="text" name="body" placeholder="write your comment..." required>
                                    <button id="comment_button" type="submit" class="btn btn-link "><i class="fa-regular fa-paper-plane"></i></button>
                                </form>
                            </div>
                            {% for comment in post_comments|get_comments:post.id|slice:"5" %}                   
                                {% if comment.owner == request.user  %}
                                   <div id="comment_box" class="comment" >
                                        <a href="{% url 'profile' comment.owner %}"><samp>@{{comment.owner}}</samp></a>
                                        <p>{{comment.body}}
                                                <button hx-delete="{% url 'delete-comment' comment.id %}" 
                                                hx-confirm="Are you sure you want delete comment"
                                                class="btn btn-link"><i class="fa-solid fa-trash" style="color: #f2075a;"></i>
                                                </button>
                                        </p>
                                    </div>
                                {% else %}
                                    <div class="comment" >
                                        <a href="{% url 'profile' comment.owner %}"><samp>@{{comment.owner}}</samp></a>
                                        <p>{{comment.body}}</p>
                                    </div>
                                {% endif %}                              
                            {% endfor %}
                        </div>
                    </div> 
                </div> 
            </div>
        {% endfor %}
    </div>

    
        <div class="suggestions mt-5"> 
            {% include 'core/partials/follow_suggestions.html' %}
        </div>  
    

    <aside class="chat_suggestions mt-5">
        {% include 'core/partials/chat_suggestions.html' %}
    </aside>

</div>


{% include 'core/partials/create_post.html' %}
{% include 'core/partials/carousel.html' %}


{{request.user.id|json_script:"request-user-id"}}
{{request.user.username|json_script:"request-user-username"}}

<script src="{% static 'js/like_notification.js' %}"></script>
{% endblock content %}
    

