{% extends '_base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'style/post_detail.css' %}">
{% endblock css %}

{% block content %}
<div class="post-container">
    <div class="cards">
        <div class="card-item card mt-5 mb-3">
            <div>
                {% if request.user == post.user %}
                    <button class="btn btn-link dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis"></i></button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li>
                            <button hx-delete="{% url 'delete-post' post.id %}?next={% url 'profile' request.user %}" 
                                    hx-confirm="Are you sure you want to delete this post?"
                                    class="dropdown-item" >Delete post</button>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Update post</a>
                        </li>
                    </ul>
                {% endif %}
                <img src="{{post.image.url}}" class="card-img-top" alt="..."> 
                  
               
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between ">
                    <h5 class="card-title  "><a href="{% url 'profile' post.user.username %}">@{{post.user.username}} </a>| {{post.title}}</h5>
                    <div class="d-flex justify-content-between ">
                        <div class=" d-flex justify-content-end text-center">
                            

                            <ul class="list-inline mb-0">
                                <form hx-post="{% url 'home' %}">
                                    <input type="hidden" name="post_id" value="{{post.id}}">
                                    {% if is_post_liked %}
                                        <li class="list-inline-item">
                                            <button type="submit" class="btn btn-link "><small class="text-muted"> <i class="fa-solid fa-heart fa-xl " style="color: #f2075a;"></i></small></button><h6 class="">{{likes.count}}</h6>
                                        </li>
                                    {% else %}
                                        <li class="list-inline-item">
                                            <button type="submit" class="btn btn-link" ><small class="text-muted"> <i class="fa-regular fa-heart fa-xl" style="color: #f2075a;"></i></small></button><h6 class="font-weight-bold mb-0 d-block">{{likes.count}}</h6>
                                        </li>
                                    {% endif %}
                                </form>            
                            </ul>
                        </div>
                    </div>   
                </div>

                <p class="card-text mt-3">{{post.description}}</p>
                <p class="card-text"><small class="text-body-secondary">{{post.created}}</small></p>
                <hr>
                    <!-- comments -->
                <div id="comment-section "> 
                    <div class="d-flex justify-content-between">
                        <img id="profile_img" src="{{profile.image.url}}" alt="">
                        <form action="{% url 'comment' %}?next={{request.path}}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{post.id}}">
                            <input class="comment_input" type="text" name="body" placeholder="write your comment..." required>
                            <button type="submit" class="btn btn-link "><i class="fa-regular fa-paper-plane"></i></button>
                        </form>
                    </div>
                    
                    {% for comment in comments|slice:"10" %}                   
                        {% if comment.owner == request.user  %}
                           <div class="comment" >
                                <samp >@{{comment.owner}}</samp>
                                <p>{{comment.body}}
                                        <button hx-delete="{% url 'delete-comment' comment.id %}" 
                                                hx-confirm="Are you sure you want delete comment"
                                                class="btn btn-link"><i class="fa-solid fa-trash" style="color: #f2075a;"></i>
                                        </button>
                                </p>
                            </div>
                        {% else %}
                            <div class="comment" >
                                <samp >@{{comment.owner}}</samp>
                                <p>{{comment.body}}</p>
                            </div>
                        {% endif %}                              
                    {% endfor %}
                </div>
            </div> 
        </div> 
    </div>
</div>
    
{% endblock content %}
    
