.container {
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
}

.post-container {
    float: left;
}

.card {
    width: 600px; /* Set the desired width here */
}

.cards {
    margin-left: 10rem;
}

.suggestions {
    float: left;
    width: 300px;
    margin-left: 3rem;
}

.suggestion-img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

a{
    text-decoration: none;
    color: black;
}
